<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SLTumblr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0CC11B8F1BAFA3A0008B8F23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CC11BAB1BAFA3A1008B8F23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CC11BB61BAFA3A1008B8F23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
